body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #eaf3f3 !important;
}
p{
    margin: 0 !important;
}

.heroBg{
    background-image: url(../images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 430px;
    background-position: bottom;
    position: relative;
}
.overly{
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.7;
    position: absolute;
    inset: 0;
}
footer{
    background-color: #17214A;
}
/* common-classes */
.cursor-pointer{
    cursor: pointer;
}
.primaryBtn{
    background: #FF4B43;
    border-radius: 20px;
    padding: 10px 23px;
    outline: none;
    border: none;
}

.text-blue{
    color: #697694;
}
.text-yellow{
    color: #EFA528;
}

.w-30{
    width: 30%;
}
.font-lg{
  font-size: 45px !important;
 }
.font-sm{
  font-size: 18px;
}

/* navbar-styling */

.side-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 17%;
}
ul li a{
    color: black;
    font-weight: 300;
}
a:hover{
    color: #fff !important;
    opacity: 0.8;
}

/* carousel */


  @media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}